* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Open Sans";
}

header {
    overflow-y: hidden;
    overflow-x: hidden;
}

body {
    margin: 0px;
    position: relative;
    overflow: hidden;
}

body::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: -1;
}

body::after {
    content: "";
    background-image: url("aboutbg.jpg");
    background-size: cover;
    background-position: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -2;
}
.navbar ul {
    list-style-type: none;
    padding: 0px;
    margin: 0px;
}

.navbar a {
    color: #A020F0;
    text-decoration: none;
    padding: 15px;
    display: block;
    text-align: center;
}

.navbar a:hover {
    background-color: #C3B1E1;
}

.navbar li {
    float: left;
}

main {
    margin-left: 20px;
    margin-right: 20px;
}

.desc {
    font-size: 20px;
    margin: 2em;
    text-align: center;
    color: whitesmoke;
}

@keyframes typing {
    0% {
      width: 0;
      transform-origin: center;
    }
    100% {
      width: 100%;
      transform-origin: center;
    }
}
  
h1 {
    font-family: 'Open Sans', sans-serif;
    overflow: hidden;
    white-space: nowrap;
    animation: typing 4s steps(50, end);
    font-size: 60px;
    transform-origin: center;

}
  
h1::after {
    content: "|";
    animation: blink 0.6s infinite;
}
  
@keyframes blink {
    50% { opacity: 0; }
}