* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Open Sans";
}

header {
    overflow-y: hidden;
    overflow-x: hidden;
}

body {
    margin: 0px;
    position: relative;
    overflow: hidden;
}

body::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: -1;
}

body::after {
    content: "";
    background-image: url("contact_bg.jpg");
    background-size: cover;
    background-position: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -2;
}

.navbar ul {
    list-style-type: none;
    padding: 0px;
    margin: 0px;
}

.navbar a {
    color: #A020F0;
    text-decoration: none;
    padding: 15px;
    display: block;
    text-align: center;
}

.navbar a:hover {
    background-color: #C3B1E1;
}

.navbar li {
    float: left;
}

section {
    height: fit-content;
}

body {
    background-color: beige;
}

main {
    margin-left: 20px;
    margin-right: 20px;
}

.desc {
    font-size: 20px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 90vh;
}

.hedeng {
    text-align: center;
    margin-bottom: 10px;
    color: white;
    font-size: 40px;
}

.social-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: blueviolet;
    color: white;
    text-decoration: none;
    margin: 10px auto;
    border-radius: 5px;
    font-size: 30px;
}

.social-button img {
    width: 30px;
    height: 30px;
    vertical-align: middle;
}

.social-button:hover {
    background-color: #FFAE42;
}

.buttons {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.button-text {
    vertical-align: middle;
}

.pooter {
    align-items: center;
    margin-top: 40px;
    margin-bottom: 10px;
    color: white;
}

h3 {
    font-size: 30px;
}

.pooter p {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 25px;
}

.pooter img {
    margin-right: 10px;
    width: 20px;
}

.easteregg {
    position: fixed;
    bottom: 10px;
    right: 10px;
    font-size: 12px;
    color: #C3B1E1;
    opacity: 0.7;
}