* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Open Sans";
}

header {
    overflow-y: hidden;
    overflow-x: hidden;
}

body {
    margin: 0px;
    position: relative;
    overflow: hidden;
}

body::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: -1;
}

body::after {
    content: "";
    background-image: url("mainbg.jpg");
    background-size: cover;
    background-position: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -2;
}

.navbar ul {
    list-style-type: none;
    padding: 0px;
    margin: 0px;
}

.navbar a {
    color: #A020F0;
    text-decoration: none;
    padding: 15px;
    display: block;
    text-align: center;
}

.navbar a:hover {
    background-color: #C3B1E1;
}

.navbar li {
    float: left;
}

section {
    height: fit-content;
}

body {
    background-color: beige;
}

main {
    margin-left: 20px;
    margin-right: 20px;
}

idk {
    margin-right: 40px;
}

.mamamo {
    margin: 5em;
    display: grid;
    align-items: center;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 5px;
}

.title {
    margin-left: 100px;
    font-size: 70px;
    color: blueviolet;
}

.info {
    margin-left: 50px;
    font-size: 25px;
    color: blueviolet;
}

img {
    max-width: 100%;
    max-height:100%;
    border-radius: 10%;
}

.desc {
    font-size: 20px;
    margin: 2em;
    text-align: center;
}